<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weng.springsecuritydemo.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.weng.springsecuritydemo.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <collection property="roleIds" ofType="LONG">
            <result column="ums_role_id" jdbcType="BIGINT"/>
        </collection>
    </resultMap>


    <!-- 根据用户名查询用户信息 -->
    <select id="selectUserByUsername" resultMap="userResultMap">
        select user.*,
               role.id as ums_role_id
        from role
                 join user
                 join user_role
                      on user.id = user_role.user_id and role.id = user_role.role_id
        where username = #{username}
    </select>
</mapper>
